#container {
  width: 220px;
  height: 300px;
  border: 1px solid palevioletred;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* kaç 1fr verirsek o kadar kolona bölüyor */
  align-content: end;
}
#container div {
  width: 70px;
  height: 70px;
}
